:root {
    --primary: #ffa638;
    --dark: #1f2937;
    --darkdark: #111827;
    --light: #f3f4f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--dark);
    color: var(--light);
}

.watch {
    text-align: center;
    background-color: var(--darkdark);
    width: 100%;
    max-width: 360px;
    margin: 4rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.time {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    appearance: none;
    background: none;
    /* border: none; */
    outline: none;
    user-select: none;
    font-size: 1.25rem;
    color: var(--light);
    background-color: var(--primary);
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.controls button:hover {
    opacity: 0.7;
}

.controls button:active {
    background-color: var(--darkdark);
}